body {
    background: white;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 2em;
    max-width: 700px;
}

header {
    max-width: 500px;
    margin-bottom: 2em;
}

header .menu {
    float: right;
    position: relative;
    margin-top: -30px;
}

header .menu a {
    color: black;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    position: relative;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h1 .here {
    margin: 0;
    font-weight: bold;
    color: black;
}

h1 input.here {
    border: 0px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 18px;
    border-bottom: 1px dotted #bbb;
}

h1 span {
    color: #bbb;
    margin: 0 .5em;
}

ul.photos {
    list-style: none;
    padding: 0;
}

ul.photos .photo {
    max-width: 500px;
    margin-bottom: 4em;
}

ul.photos .photo img {
    width: 100%;
}

section.photo {
    margin: 3em 0;
    max-width: 700px;
}

section.photo img {
    width: 100%;
}

section.photo a {
    text-decoration: none;
}

ul.photos .photo time, section.photo time {
    float: right;
    display: block;
    font-size: 12px;
    color: #666;
    margin: 0;
    margin-top: .5em;
    line-height: 12px;
}


section.meta textarea.description {
    border: none;
    width: 100%;
    color: black;
    padding: 0;
    font: 14px/1.3 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section.meta ul {
    margin-top: 16px;
    list-style: none;
    padding: 0;
    padding-left: 50px;
    display: block;
}

section.meta li.title {
    margin-top: 1px;
    line-height: 18px;
    position: absolute;
    margin-left: -50px;
    font-size: 11px;
    font-weight: bold;
    color: #666;
}

section.meta li.title:after {
    content: '';
}

section.meta li {
    float: left;
}

section.meta li:after {
    margin: 0 .8em 0 .6em;
    content: '•';
    color: #bbb;
}

section.meta li:last-of-type:after {
    content: '';
}

.meta .tags li a {
    text-decoration: none;
}

.meta .tags li .delete {
    color: rgb(200, 60, 30);
    position: absolute;
    margin-left: 6px;
    margin-top: 3px;
    display: none;
    font-weight: bold;
    line-height: 10px;
}

.meta .tags li:hover .delete {
    display: inline;
}

.meta .tags li:hover .delete:hover {
    background: red;
    color: white;
}

.meta .tags li:hover:after {
    opacity: 0;
}

.meta .tags .add {
    color: #666;
}

section.meta ul .edit {
    font: 14px/1.3 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    padding: 0;
    outline: none;
    border: none;
}

section.meta a {
    color: black;
}

section.tags {
    max-width: 500px;
}

section.tags h3 {
    border-bottom: 1px solid #bbb;
}

section.tags ul {
    list-style: none;
    padding: 0;
}

section.tags li {
    margin: .5em 1em;
}

section.tags .count {
    float: right;
    margin-right: 1em;
    color: #666;
}

section.tags li:hover .count {
    color: black;
}

.clear {
    clear: both;
}

/* navigation */
.pager {}

.pager a {
    padding: 2px 6px;
    color: black;
    text-decoration: none;
}

.pager .first, .pager .last {
    display: none;
}

.pager .previous {
    margin-right: 20px;
}

.pager .next {
    margin-left: 20px;
}

.pager ul {
    list-style: none;
}

.pager li {
    display: inline;
}

.pager .active {
    font-weight: bold;
}
